body, html, svg {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #282c34; /* Obsidian background color */
}

.link {
    stroke: #abb2bf; /* Lighter link color */
    stroke-opacity: 0.6;
}

/* NODE */
.circle {
    stroke: rgba(0, 0, 0, 0.3);
    stroke-width: 2px;
    transition: box-shadow 0.2s ease-in-out, stroke-width 0.2s ease-in-out, stroke 0.2s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Box shadow */
}

.circle:hover {
    stroke: #adbcff;
    stroke-width: 2.5px;
}

.circle:focus {
    color: red;
    stroke: #ffffff;
    stroke-width: 2.5px;
}

.label-group {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s ease-in-out;
}

/*.label-text {*/
/*    fill: #abb2bf; !* Lighter text color *!*/
/*    color: #abb2bf;*/
/*    !*visibility: hidden; !* By default, hide the text *!*!*/
/*}*/

/***************************************************/
/* Status Bar */
.status-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Bluish-grayish-darkish background */
    backdrop-filter: blur(5px); /* Apply the blur effect */
    color: #dcdcdc; /* Light gray text */
    padding: 3px 5px;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.2); /* Shadow at the bottom */
    z-index: 1000;
}

#status-content {
    display: flex;
    flex-direction: row;
}
.status-label {
    font-weight: bold;
    color: #999999;
    margin: 0 5px 0 15px;
}

.path {
    font-family: monospace;
    /*font-weight: bold;*/
    color: #ff9c5a;
    cursor: pointer;
}

/* Overlay */
.overlay {
    position: fixed;
    top: 0; /* Position at the top of the viewport */
    left: 0; /* Position at the left of the viewport */

    background-color: rgba(30, 30, 30, 0.3); /* Bluish-grayish-darkish background with 30% opacity */
    backdrop-filter: blur(5px); /* Apply the blur effect */
    color: #dcdcdc; /* Light gray text */
    border: 2px solid #202020; /* Dark border */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Box shadow */
    transition: box-shadow 0.2s ease-in-out;

    padding: 20px;
    margin: 8px 5px;

    max-width: 30%; /* 30% of the screen width */
    max-height: 50%; /* 50% of the screen height */

    z-index: 999;
    overflow: auto; /* Enable scrolling if content exceeds max height */
}

.overlay:hover {
    box-shadow: 0 0 10px rgba(255, 156, 90, 0.3); /* Box shadow */
}

h2 {
    color: #ff9c5a;
    margin-top: 10px;
}